body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link {
  color: white !important;
}
.form-check{
  overflow-y: scroll;
  height: 20vh;
}
.list{
  overflow-y: scroll;
  height: 80vh;
}
.check{
  overflow-y: scroll;
  height: 20%;
}
body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-thumb {
  border-radius: 20px;       /* закругления плашки */
  border: 3px;  /* padding вокруг плашки */
}